<div fxLayout="column">
<div fxLayout="row">
    <div fxLayout="column" fxFlex="20" class="txt1">
    <p>
        <font size="10" face="arial" >
            "Shopping
             Never
              Been
               Easier..."

        </font>
    </p>
    </div>
    
    <div  fxLayoutAlign="start center" >
    <img class="imgvoila" src="/assets/img/shopping.png" alt="">
</div>

</div>

<div fxLayout="row">

    <div  fxLayoutAlign="start center" >
        <img class="img1" src="/assets/img/shocked.png" alt="">
    </div>

    <div fxLayout="column" class="txt2">
    <p>
        <font size="10" face="arial" >
            "Ridiculous Promotions And Discounts Everyday..."
        </font>
    </p>
    </div>
    
    

</div>

<div fxLayout="row">
    <div fxLayout="column" fxFlex="20" class="txt1">
    <p>
        <font size="10" face="arial" >
            "Number One E-Commerce Website in The World..."
        </font>
    </p>
    </div>
    
    <div  fxLayoutAlign="start center" >
    <img class="imgvoila" src="/assets/img/aha.png" alt="">
</div>

</div> 
</div>